# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.idea/

# Python packaging
*.egg-info/
*.egg

# Untracked data/work directories
# 忽略 data 目录下的所有内容
data/*

# 但是，不要忽略 (un-ignore) data 目录下的 .py 文件
!data/*.py
work_dir/

# Other common ignores
.DS_Store